*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
}

button {
	cursor: pointer;
}

ul {
	list-style: none;
}

input,
button,
select {
	border: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
	background: linear-gradient(
		30deg,
		hsl(201, 73%, 90%) 0%,
		hsl(70, 84%, 90%) 33%,
		hsl(338, 96%, 90%) 66%,
		hsl(36, 96%, 90%) 100%
	);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 3rem 1.5rem;
	line-height: 1.5;
}